* {
  margin: 0;
  padding: 0;
  list-style: none; }

body {
  width: 100%;
  height: 100%;
  font-size: 62.5%; }

header {
  width: 100%;
  display: flex;
  justify-content: space-between; }
  header .logo {
    margin-top: 0.8rem;
    margin-left: 0.9rem;
    width: 10.7rem;
    height: 3.6rem; }
    header .logo img {
      width: 100%; }
  header .zt {
    margin-top: 0.8rem;
    margin-left: 2rem;
    width: 10.7rem;
    height: 3.6rem;
    font-size: 1.8rem;
    color: #000000; }
  header .logo1 {
    width: 7.2rem;
    height: 4.5rem;
    margin-top: 0.8rem; }
    header .logo1 ul {
      width: 7.2rem;
      height: 4.5rem;
      display: flex;
      justify-content: space-around; }
      header .logo1 ul li {
        width: 100%; }
  header .icon-nav {
    font-size: 1.65rem;
    color: #999999;
    margin-top: 0.2rem;
    margin-left: 2.5rem; }

.list {
  width: 100%;
  margin-top: 1rem; }
  .list img {
    width: 100%; }

.list1 {
  width: 100%;
  margin-top: 1rem; }
  .list1 p {
    width: 80%;
    height: 2rem;
    margin: 0 auto;
    line-height: 2rem;
    background: #969896;
    text-align: center;
    font-size: 1.2rem; }

.text {
  width: 100%;
  margin-top: 1.8rem; }
  .text p {
    text-align: center; }
  .text p:nth-child(1) {
    font-size: 1.8rem;
    color: #000000; }
  .text p:nth-child(2) {
    font-size: 1.2rem; }
    .text p:nth-child(2) span {
      font-size: 1.4rem; }

hr {
  margin-top: 1.5rem; }

.text1 {
  width: 100%;
  margin-top: 1rem; }
  .text1 ul:nth-child(1) {
    width: 100%;
    display: flex;
    justify-content: space-around; }
    .text1 ul:nth-child(1) li {
      width: 20%;
      border: 1px solid #969896;
      border-radius: 1rem;
      font-size: 0.8rem;
      color: #000000;
      text-align: center; }
  .text1 ul:nth-child(2) {
    width: 100%;
    margin-top: 1rem;
    display: flex; }
    .text1 ul:nth-child(2) li {
      width: 20%;
      margin-left: 0.8rem;
      border: 1px solid #969896;
      border-radius: 1rem;
      font-size: 0.8rem;
      color: #000000;
      text-align: center; }

.text2 {
  width: 100%;
  margin-top: 1.8rem; }
  .text2 p {
    text-align: center;
    font-size: 1.05rem; }

.picture {
  width: 100%; }
  .picture img {
    margin-top: 1.5rem;
    margin-left: 2rem; }

.text3 {
  width: 100%;
  margin-top: 2.5rem; }
  .text3 p {
    width: 20rem;
    height: 3.5rem;
    margin-left: 2rem;
    line-height: 3.5rem;
    text-align: center;
    border: 1px solid #63A35C;
    color: #63A35C;
    font-size: 1.8rem; }

.font {
  width: 100%;
  margin-top: 1rem; }
  .font ul {
    width: 100%;
    display: flex;
    justify-content: space-around; }
    .font ul li {
      font-size: 2rem;
      text-align: center; }
      .font ul li p {
        font-size: 1.2rem;
        text-align: center; }
    .font ul li:nth-child(1) {
      color: #0086B3; }
      .font ul li:nth-child(1) p {
        color: #0086B3; }
    .font ul li:nth-child(2) {
      color: orange; }
      .font ul li:nth-child(2) p {
        color: orange; }

.div2 {
  width: 100%;
  height: 0.9rem;
  background: #969896;
  margin-top: 1rem; }

.text1 {
  width: 100%;
  margin-top: 1.5rem; }
  .text1 .div3 {
    width: 100%; }
    .text1 .div3 span {
      font-size: 1.8rem;
      color: #000;
      border-left: 0.25rem solid #45CC9A; }
  .text1 .baby {
    width: 100%;
    display: flex;
    border-bottom: 1px solid gainsboro; }
    .text1 .baby .baby1 {
      width: 9.5rem;
      height: 7.25rem; }
      .text1 .baby .baby1 img {
        width: 100%; }
    .text1 .baby .baby2 p {
      font-size: 1.5rem;
      color: #000000; }
    .text1 .baby .baby2 span {
      font-size: 1.2rem;
      color: #000000; }
  .text1 .banner2 {
    width: 100%;
    height: 3.5rem;
    margin-top: 1rem; }
    .text1 .banner2 p {
      width: 80%;
      height: 3.5rem;
      line-height: 3.5rem;
      margin-left: 2rem;
      text-align: center;
      border: 1px solid #63A35C;
      font-size: 1rem;
      color: #63A35C; }

.wenzi {
  width: 100%;
  margin-top: 1rem; }
  .wenzi p {
    font-size: 1.4rem; }

footer {
  width: 100%; }
  footer .top {
    width: 100%; }
    footer .top p {
      text-align: center;
      color: #000000;
      font-size: 1.5rem; }
      footer .top p span {
        font-size: 2rem;
        color: #63A35C; }
  footer .top1 {
    width: 100%; }
    footer .top1 ul {
      width: 100%;
      display: flex;
      justify-content: space-around; }
      footer .top1 ul li {
        font-size: 1rem; }
  footer .footer {
    width: 100%;
    height: 6rem;
    position: fixed;
    bottom: 0;
    background: black;
    bottom: 0;
    background: rgba(0, 0, 0, 0.9);
    display: flex; }
    footer .footer .title1 {
      width: 100%; }
      footer .footer .title1 img {
        width: 100%; }
    footer .footer button {
      width: 8.75rem;
      height: 2.5rem;
      background: #feb605;
      border: none;
      border-radius: 0.8rem;
      position: relative;
      top: 2rem;
      right: -0.5rem;
      color: white;
      font-size: 1.2rem; }

/*# sourceMappingURL=sa4.css.map */
